body{
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}


.area{
    width:100%;
    max-width: 330px;
    text-align: center; 
    padding:10px;   
}

.logo{
    width:100%;
    height:auto;
}

.remember{
    padding-top:20px;
    padding-bottom: 20px;
}

.gray{
    color: #0e04043a;
    padding: 20px;
}